<div class="ui-g-12">
  <p-table #p2 [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [(selection)]="checkboxSelected">
    <ng-template pTemplate="caption">
      顧客列表1
      <div class="ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-camera-retro fa-2x" iconPos="left" label="All Data" (click)="p2.exportCSV()" style="float:left"></button>
          <button type="button" pButton icon="fa fa-file" iconPos="left" label="Selection Only" (click)="p2.exportCSV({selectionOnly:true})" style="float:right"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <ul>
        <li *ngFor="let cust of checkboxSelected" style="text-align: left">
          {{cust.name+ ' - ' + cust.id + ' - ' + cust.birthday + ' - ' + cust.sex}}
        </li>
      </ul>
      <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>
  </p-table>
  <p-table #p1 [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [(selection)]="radioSelected">
    <ng-template pTemplate="caption">
      顧客列表2
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em"></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableRadioButton [value]="rowData" (click)="radioClick()"></p-tableRadioButton>
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Cust Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="cust">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="id">Id</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="id" [(ngModel)]="cust.id" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="customerid">Customerid</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="customerId" [(ngModel)]="cust.customerId" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="birthday">Birthday</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="birthday" [(ngModel)]="cust.birthday" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="name" [(ngModel)]="cust.name" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="sex">Sex</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="sex" [(ngModel)]="cust.sex" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <!-- <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button> -->
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
