<div class="content">
    <div class="ui-g">
      
      <p-fieldset class="ui-g-12">
        <p-header>{{ 'exception.fusingMechanism' | translate }}</p-header>
        <div class="card-content">
          <div class="ui-g-12">
            現在秒數: {{s}}
          </div>
          <div class="ui-g-12">
            <div class="ui-inputgroup">
              <button pButton type="button" label="{{ 'general.query' | translate }}" class="outline" (click)="handleClick()"></button>
            </div>
          </div>
        </div>
      </p-fieldset>
    </div>
</div>
  
