<div class="content">
  <div class="card-title"><p>File Upload Demo</p></div>
  <div class="card-content" [formGroup]="form">
    <div class="ui-g  ui-fluid">
      <div class="ui-g-6 ui-md-12">
        <p-fileUpload
          name="files"
          customUpload="true"
          (onSelect)="setFiles($event)"
          (onClear)="clear()"
          (onRemove)="setFiles($event)"
          maxFileSize="10000000"
          [multiple]="true"
          [showUploadButton]="false"
          [chooseLabel]="'features.upload.chooseLabel' | translate"
          [cancelLabel]="'features.upload.clearLabel' | translate"
          [uploadLabel]="'features.upload.uploadLabel' | translate"
        >
          <ng-template pTemplate="content">
            <ul *ngIf="fileList?.length">
              <li *ngFor="let file of fileList">
                {{ file.name }} - {{ file.size }} bytes
              </li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-lg-2 ui-md-12">Upload Name</div>
        <div class="ui-lg-10 ui-md-12">
          <input pInputText type="text" formControlName="uploadName" />
        </div>
      </div>
      <div class="ui-g-6 ui-md-8 ui-md-offset-2">
        <button
          pButton
          [disabled]="form.invalid"
          (click)="submit()"
          [label]="'Submit'"
        ></button>
      </div>
    </div>
  </div>
</div>
