<h3>Button Addons</h3>
<div class="ui-g ui-fluid">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <input type="textarea" pInputText value='form.valid:{{form.valid}}
     form.value.name:{{form.value.name}}' disabled>
    <input type="textarea" pInputText value='form.valid:{{tName.valid}}
     form.value.name:{{tName.errors}} {{tName["errors"]?.required}}' disabled>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <button pButton type="submit"  label="Search"></button>
        <input type="text" pInputText placeholder="Keyword">
      </div>

    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" #tName="ngModel" ngModel required minlength="2" name="name" [(ngModel)]="data.name" pInputText placeholder="Username">
      </div>
      <p-message severity="error" text="請輸入 name 欄位" *ngIf="form.submitted && tName['errors']?.required"></p-message>
      <p-message severity="error" text="欄位過短" *ngIf="form.submitted && tName['errors']?.minlength"></p-message>
      <div validateError fooo="form"></div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">$</span>
        <input type="text"  #money="ngModel" ngModel required name="money" [(ngModel)]="data.money" pInputText placeholder="Price">

        <span class="ui-inputgroup-addon">.00</span>

      </div>
      <p-message severity="error" text="需要輸入金額" *ngIf="form.submitted && money['errors']?.required"></p-message>
    </div>
  </form>

</div>
